:root {
    /* Font Family */
    --ff-primary: 'Inter', sans-serif;
    --ff-tertiary:'Space Mono', monospace;
    /* Font Weight */
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-extrabold: 800;
    /* Font Colors */
    --fc-offwhite: #FAF9F6;
    --fc-grey: 128, 128, 128;
    --fc-darkgrey: #151619;
    --fc-blue-links: #0058FF;
    --fc-darkblue: 1, 34, 88;
}

/* Pop Up */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.content {
    margin-top: 90px;
    min-height: calc(100% - 60px);
}

.popup{
    /* background-color: #888888; */
    width: 45rem;
    padding: 1rem;
    position: fixed;

    /* transform needed to center popup */
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    
    display: none;
    text-align: center;
    z-index: 999;
}
.popup__content {
    background-color: white;
    margin: auto;
    padding: 30px;
    width: 40rem;
    font-family: var(--ff-tertiary);
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0,0.4);
}
.popup__content button {
    display: block;
    margin: 0 auto;
    font-family: var(--ff-tertiary);
}

.popup-open {
    overflow:hidden;
    background-color: var(--fc-grey);
}

.blur-background::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(9px);
    z-index: 20;
}

/* All NAV */
.nav__bar {
    display: inline;
    position: fixed;
    margin-top: 0;
    top: 0px;
    height: 90px;
    width: 100%;
    z-index: 10;
    background-color: #151619;
}

#logo {
    margin-top: 1em;
    margin-left: 1em;
}

.nav__bar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    translate: 175px -50px;
    justify-content: flex-start;
    margin-right: 0;
    padding-left: 0;
    width: 60%;
}

.nav__bar--item {
    list-style-type: none;
    font: normal normal var(--fw-normal) 16px var(--ff-primary);
    padding: 0 1em;
    transform: 0.3s ease;
}

.nav__bar-container.flex-end {
    justify-content: flex-end;
}

.nav__bar--item:hover {
    scale: 1.05;
}

#login {
    order: 2;
    justify-content: flex-end;
}

#signup {
    order: 3;
    justify-content: flex-end;
}

.nav__bar--link {
    text-decoration-line: none;
    color: var(--fc-offwhite);
}

.nav__bar--link:hover {
    color: var(--fc-blue-links);
}

.nav__bottom {
    text-align: center;
    font-family: var(--ff-primary);
}

.nav__bottom-link:first-of-type {
    margin-left: 0;
}

.nav__bottom-link:not(:first-of-type) {
    margin-left: 2em;
}

.nav__bottom--link-color {
    color: var(--fc-grey);
}

.alternativeapplication {
    font-family: var(--ff-tertiary);
}

/* Homepage Banner */
.homepage__banner-container {
    height: 800px;
    width: 100%;
    position: relative;
}

.homepage__banner-image {
    background-image: url("../images/richard-horvath-cPccYbPrF-A-unsplash.jpg");
    width: 100%;
    position: absolute;
    background-position: 10% 30%;
    -webkit-filter: blur(2px);
    top: 0;
    bottom: 0;
    background-size: cover;
}

#homepage__banner-title {
    font-size: 3em !important;
    color: var(--fc-offwhite);
    font: normal normal var(--fw-extrabold) 80px var(--ff-primary);
    text-align: center;
    padding-top: 10rem;
    position: inherit;
    margin: 0 auto;
    transform: translateX(-20px);
}

.homepage__banner-trending {
    position: inherit;
    width: 100%;
    margin-top: 3em;
    justify-content: center;
    display: flex;
    flex-flow: row wrap;
    font-family: var(--ff-primary);
    color: white;
    align-items: center;
}

.trending-item {
    margin-left: 1em;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    border: white solid 2px;
    color: white;
    width: 6em;
    border-radius: 45px;
    height: 3em;
}

.trending-item:hover {
    background-color: rgba(0, 88, 255, .5);
    border-color: var(--fc-blue-links);
    cursor: pointer;
}

#search {
    position: inherit;
    display: block;
    width: 45%;
    height: 3em;
    border-radius: 45px;
    border-style: none;
    padding: 0 15px 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    font-size: 24px;
    font-family: var(--ff-primary);
}

#search:focus {
    outline: none;
}

/* Mission Container */
.mission__container {
    min-width: 30%;
    max-width: 60%;
    background-color: white;
    padding: 20px 30px;
    margin: 0 auto;
    border: 1px solid rgba(var(--fc-grey), .4);
    border-radius: 6px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0,0.3);
    position: relative;
    transform: translateY(-100px);
    z-index: auto;
    display: flex;
    flex-flow: row wrap;
}

.mission__container img {
    flex: 1;
    padding: 0;
}

.mission__content {
    /* background-color: red; */ /* testing purposes */
    width: 100%;
    height: 100%;
    font-family: var(--ff-primary);
    display: flex;
    flex-flow: column wrap;
    flex: 3;
    align-items: left;
    margin-right: 2.5em;
    margin-left: 1em;
}

.subsection__button-1 {
    padding: 1rem 3.3rem;
    border-radius: 30px;
    background-color: white;
    border: 2px solid var(--fc-blue-links);
    font-family: var(--ff-primary);
    color: var(--fc-blue-links);
    box-shadow: none;
    margin-top: .5em;
    margin-bottom: 1rem;
    margin-left: 1.4em;
    transition: 200ms ease-in-out;
    cursor: pointer;
    /* need font */
}

.mission__content-title {
    font-weight: var(--fw-bold);
    font-size: 24px;
    margin-top: 1;
    margin-bottom: 0.5em;
    left: 0;
}

.mission__content button:hover {
    background-color: var(--fc-blue-links);
    color: white;
}

.mission__content-paragraph {
    font-size: 18px;
    margin-top: .5em;
    margin-bottom: .5em;
}

/* Subsection */

.subsection__title {
    font-weight: var(--fw-bold);
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--ff-primary);
    padding-top: 1rem;
    margin-bottom: 3rem;
}

.subsection__title-fc-white {
    font-weight: var(--fw-bold);
    font-size: 72px;
    text-align: center;
    text-transform: uppercase;
    font-family: var(--ff-primary);
    color: var(--fc-offwhite);
    padding-top: 1rem;
    margin-bottom: .5rem;
}

.subsection__subtitle-fc-black {
    font-weight: 400;
    width: 100%;
    height: 100%;
    font-family: var(--ff-primary);
    text-align: center;
    font-size: 21px;
    color: var(--fc-offwhite);
    margin-top: .5rem;
    padding-bottom: 1rem;
}

.subsection__subtitle-fc-white {
    font-weight: 400;
    width: 100%;
    height: 100%;
    font-family: var(--ff-primary);
    text-align: center;
    font-size: 21px;
    color: var(--fc-offwhite);
    margin-top: .5rem;
    padding-bottom: 1rem;
}

.subsection__coloredbg-blue {
    background-color: rgb(var(--fc-darkblue));
    margin: 2em auto;
}

.subsection__link {
    text-decoration-line: none;
    font-weight: var(--fw-bold);
    color: var(--fc-blue-links);
}

.subsection__faq {
    font-family: var(--ff-primary);
    width: 100%;
    max-width: 48em;
    margin: 0 auto;
}

.subsection__faq-question-item-title {
    font-size: 26px;
    margin-bottom: 0.2em;
    width: 100%;
    padding: .6em;
    text-align: left;
    border: 2px solid rgba(var(--fc-grey), .3);
    background-color: white;
    cursor: pointer;
    transition:  background-color 300ms ease-in-out, color 300ms ease-in-out;
    color: black;
}

.subsection__faq-question-item-title:after {
    content: '\02795';
    font-size: 13px;
    color: black;
    float: right;
    transition: color 0.3s ease;
    margin-left: 5px;
    transform: translateY(5px);
}

.subsection__faq-question-item-title:hover, .subsection__faq-question-item-title-active {
    background-color: var(--fc-blue-links);
    color: var(--fc-offwhite);
}

.subsection__faq-question-item-title-active:after {
    content: "\2796";
    color: var(--fc-offwhite);
}

.subsection__dropdown-item {
    overflow: hidden;
    max-height: 0;
    transition: max-height 300ms ease;
}

.subsection__faq-question-item-paragraph {
    font-weight: 400;
    font-size: 21px;
    margin-top: 0;
    line-height: 1;
    max-width: 36em;
    transform: translateX(15px);
    padding-bottom: 0.8em;
}

.subsection__3x3grid-blue {
    display: flex;
    flex-flow: row wrap;
    min-width: 600px;
    max-width: 1200px;
    margin: 2em auto;
    padding: 2em 0;
    row-gap: 2em;
    column-gap: 2em;
    justify-content: space-evenly;
}

.subsection__3x3grid-grid-item-blue {
    box-sizing: border-box;
    flex: auto;
    max-width: 350px;
    margin: 0;
    margin-right: 0;
    padding-right: 0;

}

.subsection__3x3grid-grid-item-title-blue {
    font-family: var(--ff-primary);
    color: var(--fc-offwhite);
    min-width: 90px;
    max-width: 350px;
}

/* Ordered Lists */
.outer-list {
    list-style: none;
    counter-reset: my-counter;
}

.outer-list span {
    font-weight: bold;
}

.outer-list > li::before {
    content: counter(my-counter) ".";
    counter-increment: my-counter;
    font-weight: bold;
}

.inner-list {
    list-style: none;
    counter-reset: inner-counter;
    padding-left: 0;
}

.inner-list > li::before {
    content: counter(my-counter) "." counter(inner-counter) " ";
    counter-increment: inner-counter;
    font-weight: bold;
}

.subsection__size1140 {
    min-width: 600px;
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 3em;
    padding-right: 3em;
    position: relative;
}

.support__page-title {
    font-family: var(--ff-primary);
    font-size: 36px;
    margin-top: 6em;
}

/* Footer */

.footer {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 1em;
}

.error {
    position: absolute;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
}